@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* body {
    color: #4b4b4b;
    font-family: "Comfortaa", sans-serif;
    line-height: 1.7em;
    font-size: 18px;
  } */
  /* WhatsApp Float  */

/* WhatsApp Float Starts Here  */

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 65px;
	right: 30px;
	background-color: #8f8f8f;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #5e5e5e;
	z-index: 100;
  }
  .ff {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	
  }
  
  .my-float {
	margin-top: 17px;
  }
  
  .float-fb{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 165px;
	right: 30px;
	background-color: #4b4b4b;
   
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100; 
	
  }
  
/* WhatsApp Float Ends Here    */
@media screen and (max-width: 1160px) {
 .navlogo {
    /* height:30px ; */
  }
  .ime-pay{
    font-size:10px ;
  }
  #navbar-default{
    font-size:12px;
  }
  .join-now_img{
    height: 22px;
  }
  .mail_img{
    height: 22px;
  }
}
@media screen and (min-width: 1900px){
.desktop-section{
 padding-right: 280px;
 padding-left: 180px;
}
.footer{
  padding-left: 17%;
}
.footer-icon{
  padding-right: 90px ;
}
}
  
