/* website: https://www.carsales.com.au/research/showroom/ */
*{
  margin: 0;
  padding: 0;
  border: none;
  

}
body{
  background: none;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
header{
  background: white;
  font-size: 16px;
  font-weight: 500;
  
  
}
.Logo{
  width: 150px;
  height: 80px;
  object-fit: cover;
  margin-bottom: -15px;
}
.homeimg{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.bi-bell{
  font-size: 20px;
  font-weight: 600;
}
.carform{
  width: 1300px;
  height: 360px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 530px;
  left: 11%;

}
.text-lighter{
font-weight: 200;
}
.dropdown-menu{
  height: 150px;
  overflow: scroll;
  width: 265px;
}
.headerButton{
  border-bottom: 2px solid transparent;
  transition: margin-bottom  ease, border-bottom ease;
  .textB{
    color: black;
}
}
.headerButton:hover{
  margin-bottom: -28px;
  border-bottom: 3px solid red;
  .textB{
    color: red;
}
 

}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 29px;
  height: auto;
  width: auto;
  
}